.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    align-items: center;
    z-index: 1;
    /* position: fixed; */
    height: 95%;

}


@media (min-width: 500px) {
    .NavigationItems {
        width: 50%;
        justify-content: flex-end;
        flex-flow: row;
    }
}